server:
  port: 8081

#spring:
#  security:
#    oauth2:
#      resourceserver:
#        jwt:
#          issuer-uri: http://localhost:8083/auth/realms/baeldung
#          jwk-set-uri: http://localhost:8083/auth/realms/baeldung/protocol/openid-connect/certs

keycloak:
  auth-server-url: http://localhost:8083/auth
  realm: Explorer
  resource: explorer-user-app
  ssl-required: external
  use-resource-role-mappings: true
  bearer-only: true
  public-client: true
  principal-attribute: preferred_username